---
layout: page
title: all posts
permalink: /chrono/
---

{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
{% for year in postsByYear %}
	<b>{{ year.name }}</b><br />
	{% assign postsByMonth = year.items | group_by_exp:"post", "post.date | date: '%B'" %}
	{% for month in postsByMonth %}
		<b>&nbsp;&nbsp;{{ month.name }}</b>
		<ul>
		{% for post in month.items %}
			<li><a href="{{ post.url }}">{{ post.date | date: '%b %d, %Y' }} - {{ post.title }}</a></li>
		{% endfor %}
		</ul>
	{% endfor %}
{% endfor %}
