<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{.Title}} - decuser's blog</title>
  <link rel="stylesheet" href="/assets/style.css">
  <link rel="alternate"
      type="application/rss+xml"
      title="DECUSER RSS Feed"
      href="/feed.xml">
</head>
<body>
  <header class="site-header">
    <div class="wrapper">
      <a class="site-title" href="/">decuser's blog</a>
      <nav class="site-nav">
        <a href="/">home</a>
        <a href="/all/">all</a>
        <a href="/about/">about</a>
	<a href="/feed.xml">RSS</a>
      </nav>
    </div>
  </header>
  <main class="page-content">
    <div class="wrapper">
      <div class="banner">
        <img src="/assets/img/banner.png" alt="decuser's blog">
      </div>
      <div class="container">
        <div class="content">
          {{template "content" .}}
        </div>
        <aside>
	  <h3>tags</h3>
	  {{range $i, $t := .Tags}}{{if $i}}, {{end}}<a href="/tags/{{$t.Name}}/">{{$t.Name}} ({{$t.Count}})</a>{{end}}
	</aside>
      </div>
    </div>
  </main>
  <footer class="site-footer">
    <div class="wrapper">
      decuser | will.senn@gmail.com
    </div>
  </footer>
  <script src="/assets/js/mermaid.min.js"></script>
  <script>mermaid.initialize({startOnLoad:true});</script>
</body>
</html>
